export AZ_VM_NAME=kimmo-dl-nvgpu-vmi
export AZ_RESOURCE_GROUP=kimmo-dl-nvgpu
# https://docs.nvidia.com/ngc/ngc-azure-vmi-release-notes/
# export AZ_IMAGE=NVIDIA-GPU-Cloud-Image-tensorflow-2020.06.29
export AZ_IMAGE="microsoft-dsvm:linux-data-science-vm-ubuntu:linuxdsvmubuntu:20.12.11"
export AZ_LOCATION=westus2
# https://docs.microsoft.com/en-us/azure/virtual-machines/sizes-gpu
export AZ_SIZE=Standard_NC6_Promo
export AZ_SSH_KEY=~/.ssh/id_rsa.pub
export AZ_USER=azureuser
export AZ_NSG=kimmo-dl-nsg
export AZ_PUBLIC_IP=kimmo-dl-public-ip
